Flask==2.3.*           # Версия зависит от текущих требований и совместимости
PyJWT==2.6.*           # Аналогично, версия выбирается исходя из рекомендаций и поддержки версий
cryptography>=39.0.0   # cryptography нужен для правильной работы алгоритмов шифрования в PyJWT